@font-face {
	font-family: 'arenson-icons';
	src:url('fonts/arenson-icons.eot?-3pmcs7');
	src:url('fonts/arenson-icons.eot?#iefix-3pmcs7') format('embedded-opentype'),
		url('fonts/arenson-icons.woff?-3pmcs7') format('woff'),
		url('fonts/arenson-icons.ttf?-3pmcs7') format('truetype'),
		url('fonts/arenson-icons.svg?-3pmcs7#arenson-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, 
[class*=" icon-"]:before,
[data-icon]:before,
.icon {
	font-family: 'arenson-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ar_logo, .icon-ar_login, .icon-ar_binder, .icon-ar_account, .icon-ar_logout, .icon-ar_prev, .icon-ar_next, .icon-ar_item-closed, .icon-ar_item-open, .icon-ar_fav-open, .icon-ar_fav-closed, .icon-ar_add-binder, .icon-ar_quote, .icon-ar_email, .icon-ar_dwnld-pdf, .icon-ar_dwnld-img, .icon-ar_share, .icon-ar_share-binder, .icon-ar_dwnld-binder, .icon-ar_send-binder, .icon-ar_see-binder, .icon-ar_edit-binder, .icon-ar_close, .icon-ar_product-furniture, .icon-ar_product-rentals, .icon-ar_product-props, .icon-ar_product-architectural, .icon-ar_product-outlet, .icon-ar_service-logistics, .icon-ar_service-install, .icon-ar_service-project-control, .icon-ar_service-visualization, .icon-ar_service-tech-tools, .icon-ar_market-archdesign, .icon-ar_market-government, .icon-ar_market-contracting, .icon-ar_market-education, .icon-ar_market-healthcare, .icon-ar_market-realestate, .icon-ar_market-nonprofit, .icon-ar_market-corpcom, .icon-ar_market-hospitality, .icon-ar_market-startup, .icon-ar_quote-custom, .icon-ar_r-arrow, .icon-ar_linkedin, .icon-ar_twitter, .icon-ar_facebook, .icon-ar_product-architectural-reverse, .icon-ar_product-rentals-reverse, .icon-ar_product-props-reverse, .icon-ar_product-outlet-reverse, .icon-ar_product-furniture-reverse, .icon-ar-flickr, .icon-ar-rss, .icon-ar_vimeo, .icon-ar-google {
	font-family: 'arenson-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

[data-icon]:before {
	content: attr(data-icon);
}
.icon-ar_logo:before {
	content: "\a1";
}
.icon-ar_login:before {
	content: "\61";
}
.icon-ar_binder:before {
	content: "\66";
}
.icon-ar_account:before {
	content: "\64";
}
.icon-ar_logout:before {
	content: "\73";
}
.icon-ar_prev:before {
	content: "\5d";
}
.icon-ar_next:before {
	content: "\60";
}
.icon-ar_item-closed:before {
	content: "\2e";
}
.icon-ar_item-open:before {
	content: "\2f";
}
.icon-ar_fav-open:before {
	content: "\68";
}
.icon-ar_fav-closed:before {
	content: "\6a";
}
.icon-ar_add-binder:before {
	content: "\6b";
}
.icon-ar_quote:before {
	content: "\6c";
}
.icon-ar_email:before {
	content: "\63";
}
.icon-ar_dwnld-pdf:before {
	content: "\7a";
}
.icon-ar_dwnld-img:before {
	content: "\3b";
}
.icon-ar_share:before {
	content: "\78";
}
.icon-ar_share-binder:before {
	content: "\6e";
}
.icon-ar_dwnld-binder:before {
	content: "\62";
}
.icon-ar_send-binder:before {
	content: "\76";
}
.icon-ar_see-binder:before {
	content: "\2c";
}
.icon-ar_edit-binder:before {
	content: "\6d";
}
.icon-ar_close:before {
	content: "\5b";
}
.icon-ar_product-furniture:before {
	content: "\31";
}
.icon-ar_product-rentals:before {
	content: "\33";
}
.icon-ar_product-props:before {
	content: "\34";
}
.icon-ar_product-architectural:before {
	content: "\32";
}
.icon-ar_product-outlet:before {
	content: "\35";
}
.icon-ar_service-logistics:before {
	content: "\30";
}
.icon-ar_service-install:before {
	content: "\39";
}
.icon-ar_service-project-control:before {
	content: "\37";
}
.icon-ar_service-visualization:before {
	content: "\38";
}
.icon-ar_service-tech-tools:before {
	content: "\36";
}
.icon-ar_market-archdesign:before {
	content: "\65";
}
.icon-ar_market-government:before {
	content: "\74";
}
.icon-ar_market-contracting:before {
	content: "\75";
}
.icon-ar_market-education:before {
	content: "\72";
}
.icon-ar_market-healthcare:before {
	content: "\77";
}
.icon-ar_market-realestate:before {
	content: "\70";
}
.icon-ar_market-nonprofit:before {
	content: "\6f";
}
.icon-ar_market-corpcom:before {
	content: "\71";
}
.icon-ar_market-hospitality:before {
	content: "\69";
}
.icon-ar_market-startup:before {
	content: "\79";
}
.icon-ar_quote-custom:before {
	content: "\67";
}
.icon-ar_r-arrow:before {
	content: "\aa";
}
.icon-ar_product-architectural-reverse:before {
	content: "\40";
}
.icon-ar_product-rentals-reverse:before {
	content: "\23";
}
.icon-ar_product-props-reverse:before {
	content: "\24";
}
.icon-ar_product-outlet-reverse:before {
	content: "\25";
}
.icon-ar_product-furniture-reverse:before {
	content: "\21";
}
.icon-ar-google:before {
	content: "\2022";
}
.icon-ar_twitter:before {
	content: "\a3";
}
.icon-ar-rss:before {
	content: "\221e";
}
.icon-vimeo:before {
	content: "\b6";
}
.icon-ar-flickr:before {
	content: "\a7";
}
.icon-ar_pinterest:before {
	content: "\ba";
}
.icon-ar_facebook:before {
	content: "\2122";
}
.icon-ar_linkedin:before {
	content: "\a2";
}
.icon-ar-pointer:before {
	content: "\2013";
}
.icon-ar-menu:before {
	content: "\2260";
}


